header {
    background-color: #D8BA6B;
}

#scroller {
    background-color: #8b726b;
}

body {
    background-color: #ffffff;
    color: black;
}

.paper-icon-dark {
    display: None;
}

h1,
h2,
h3 {
    color: #222;
}

a {
    color: #8b726b;
    /* #837474; */
}

a:hover {
    color: #D8BA6B;
}

.hbar {
    color: #3d4248;
}

h3 {
    border-bottom: 1px #3d4248 dashed;
}
